// 基础
.tpl-title {
    font-size: 2.4rem;
    font-weight: normal;
    margin-bottom: 20px;
    .less & {
        text-align: center;
    }
    .cardTitle & {
        display: inline-block;
        margin-right: 20px;
        border-bottom: 1px solid $grey4;
        cursor: pointer;
        &.active {
            color: $blue;
        }
    }
}

.tpl-h5-title {
    display: inline-block;
    margin: 20px 0;
    height: 30px;
    line-height: 28px;
    padding: 0 15px;
    font-size: 1.4rem;
    color: $blue;
    font-weight: normal;
    border: 1px solid $blue;
    & + * {
        margin-bottom: 15px;
    }
}

.tpl-commmon-notice {
    padding: 15px 20px;
    background: $white;
}

.tpl-common-list {
    padding-left: 20px;
    li {
        list-style: disc;
        padding: 5px 0;
        line-height: 1.3;
    }
}
@media only screen and (max-width: 768px) {
    // 基础
    .tpl-title {
        font-size: 1.8rem;
        font-weight: normal;
        margin-bottom: 20px;
        .less & {
            text-align: center;
        }
    }
    
}