// 历史沿革
.tpl-history-wrap {
    &:before {
        position: relative;
        margin-left: 50%;
        left: -1px;
        bottom: -1px;
        content: '';
        display: inline-block;
        height: 40px;
        width: 0;
        border-right: 1px dashed $blue;
    }
}
.tpl-history-item {
    position: relative;
    margin-top: 30px;
    height: 25px;
    line-height: 25px;
    &:nth-child(odd) {
        text-align: left;
        .tpl-history-half {
            padding-right: 5%;
            & > span {
                float: right;
            }
        }
    }
    &:nth-child(even) {
        text-align: right;
        .tpl-history-half {
            padding-left: 6%;
            & > span {
                float: left;
            }
        }
    }
    &:before {
        margin-top: -48px;
        margin-left: -1px;
        top: 50%;
        left: 50%;
        position: absolute;
        content: '';
        display: inline-block;
        height: 40px;
        width: 1px;
        background: $blue;
    }
    &:after {
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -8px;
        position: absolute;
        content: '';
        display: inline-block;
        height: 16px;
        width: 16px;
        border-radius: 8px;
        border: 1px solid $blue;
        box-sizing: border-box;
        transition: background 0.3s;
    }

    &:hover {
        &:after {
            background: $blue;
        }
    }
}
.tpl-history-half {
    display: inline-block;
    width: 50%;
    & > span {
        &:first-child {
            padding: 0 20px;
            color: $blue;
            text-shadow: 0 0 0.5px $blue;
        }
    }
}

@media only screen and (max-width: 768px) {
    // 历史沿革
    .tpl-history-wrap {
        &:before {
            margin-left: 10px;
        }
    }
    .tpl-history-item {
        white-space: nowrap;
        &:before {
            left: 10px;
        }
        &:after {
            left: 10px;
        }
        &:nth-child(odd) {
            .tpl-history-half {
                padding-right: 0;
                padding-left: 10px;
                & > span {
                    float: left;
                }
            }
        }
        &:nth-child(even) {
            .tpl-history-half {
                padding-right: 0;
                padding-left: 10px;
                & > span {
                    float: left;
                }
            }
        }
    }
    .tpl-history-half {
        width: 100%;
        & > span {
            &:first-child {
                padding: 0 5px 0 20px;
            }
        }
    }
    
}