// color
$dark       : #000000;
$bgcolor    : #f7f7f7;
$grey1      : #C3C3C3;
$grey2      : #ededed;
$grey3      : #c2c2c2;
$grey4      : #e0e0e0;
$grey5      : #666666;
$red        : #cd0c25;
$blue       : #2D5891;
$brown      : #b18832;
$grey       : #48494c;
$purple     : #3d3f76;
$green      : #2d6d91;
$white      : #fff;
$yellow     : #E8B270;

$greenlight : #03fafa;
$yellowlight: #f9e97e;
$brownlight : #ea8d70;
$bluelight  : #B2C8E6;

$bluedark   : #204271;

// font-family
$fontlight  : "PingFangSC-Light", "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;

//
$baseblank  : 80px;
$smallblank : 60px;
$miniblank  : 30px;